.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 115px;
    padding-bottom: 115px;
    background: url('/img/back.png') no-repeat;
    background-position: center;
    background-size: cover;


    &__images {
        position: relative;
    }

    &__image {
        width: 500px;
    }

    &__sun-image {
        width: 100px;
        height: 100px;
        animation-name: rotation;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        font-size: 70px;
        line-height: 76px;
    }

    &__description {
        font-size: 18px;
        line-height: 30px;
        opacity: .8;
    }

    &__button {
        @include button-green(18px, 20px, 20px 25px);
        margin-top: 20px;
    }

    &__info {
        max-width: 550px;
    }
}