.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: all 0.25s ease;

    &__scrolled {
        background-color: #fff;
        box-shadow: 0 12px 34px -11px rgb(65 62 101 / 10%);
    }

    &__logo {
        height: 30px;
    }

    &__link {
        font-size: 15px;
        font-weight: 600;
        margin-right: 25px;
    }

    &__button {
        @include button-green(15px, 15px, 15px);
    }
}