@media (max-width: 1024px) {
    .about {
        padding: 115px 20px;
    }

    .about h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .about__image {
        width: 280px;
    }

    .about__sun-image {
        width: 75px;
        height: 75px;
    }

    .form h2 {
        font-size: 44px;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    .features__feedback {
        flex-direction: column;

        &-left {
            margin-right: 0;

            h2 {
                font-size: 36px;
                text-align: center;
            }

            p {
                text-align: center;
            }
        }

        &-right {
            flex-direction: column;
            justify-content: normal;
        }
    }

    .features__box {
        h3 {
            font-size: 36px;
        }
    }

    .features__savings-box {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .promo {
        flex-direction: column-reverse;

        &__image {
            width: 100%;
            height: 500px;

        }

        &__right {
            padding: 50px 10px;
        }
    }
}

@media (max-width: 720px) {
    header {
        padding: 10px;
    }

    header a {
        margin-right: 10px;
    }

    .header__logo {
        height: 20px;
    }

    .about {
        flex-direction: column-reverse;
        padding: 100px 10px;
    }

    .about__image {
        width: 280px;
    }

    .about__sun-image {
        width: 75px;
        height: 75px;
    }

    .form {
        padding: 50px 10px;
    }

    .form h2 {
        font-size: 36px;
    }

    footer {
        padding: 50px 10px;
    }

    .footer__container {
        flex-direction: column;
    }

    .features {
        padding: 50px 10px;
    }

    .cards {
        gap: 25px;
    }
}