/* --------Fonts-------- */
$main-font: 'Raleway', sans-serif;

/* --------Colors-------- */
$color-main: #213053;
$color-secondary: #fff;
$color-btn-green: #23a030;
$bg-color: #1D263A;
$border-color: #D9E4E6;
$bg-logo-color: #eaeff9;
$first-card-color: #ffb406;
$second-card-color: #ad1714;
$third-card-color: #22a030;